<div class="flex flex-col items-center justify-center h-screen sm:h-[75vh] m-auto">
  <div class="flex justify-center text-6xl font-semibold p-4">
    <MyChessLogo size="xl" />
  </div>
  <div class="w-sm h-[28rem]">
    <mc-tabview (onTabChange)="onTabChange($event)" tabHeight="h-[3.5rem]" [activeIndex]="activeIndex()" [tabHighlightColor]="CONSTANTS.bg.bg_300" [tabBackgroundColor]="CONSTANTS.bg.bg_100">
      <mc-tabviewPanel [header]="CONSTANTS.HEADER_LOGIN">
        <mc-login (submit)="handleSubmit($event)" />
      </mc-tabviewPanel>
      <mc-tabviewPanel [header]="CONSTANTS.HEADER_SIGN_UP">
        <mc-signup (submit)="handleSubmit($event)" />
      </mc-tabviewPanel>
    </mc-tabview>
  </div>
</div>
