<div class="home-container h-full w-full flex flex-col justify-between gap-8">
  <div class="home-game-btns flex gap-8 items-center w-full pt-12 justify-center flex-col sm:flex-row">
    <div class="w-[20rem] md:w-[22rem] h-[10rem] sm:h-[12rem]">
      <mc-button
      label="Play !"
      [icon]="playIcon"
      styleClass="bg-purple-700 text-purple-50 hover:bg-purple-800 active:bg-purple-900 disabled:bg-purple-400 w-full h-full rounded-xl font-medium"
      [isLoading]="isLoading()"
      buttonSize="accent"
      (click)="createRoom()"
      />
    </div>
    <div class="w-[20rem] md:w-[22rem] h-[10rem] sm:h-[12rem]">
      <mc-linkButton
        label="Join Room"
        [href]="joinRoomUrl"
        [icon]="joinRoomIcon"
        buttonSize="accent"
        styleClass="bg-orange-500 text-orange-50 font-medium hover:bg-orange-600 active:bg-orange-700 w-full h-full rounded-xl"
      />
    </div>
  </div>
  <div class="w-full h-[40vh] md:h-[50vh] min-h-[26rem]">
    <img
      src="/chess-banner.jpg"
      alt="Chess banner"
      class="w-full h-full object-cover object-center select-none pointer-events-none"
    >
  </div>
</div>

<app-join-room
  (onRoomJoin)="onRoomJoin($event)"
  [isLoading]="isLoading()"
  [(isDialogVisible)]="isJoinFormDialogVisible" />
