<div class="home-container h-full w-full flex flex-col justify-between gap-8">
  <div class="home-game-btns flex gap-8 items-center w-full pt-12 justify-center flex-col sm:flex-row">
    <mc-linkButton
      label="Play !"
      [href]="playUrl"
      [icon]="playIcon"
      styleClass="bg-purple-600 text-purple-50 hover:bg-purple-700 active:bg-purple-900 cursor-pointer w-full
      sm:w-[18rem] md:w-[22rem] h-[10rem] sm:h-[12rem] text-4xl md:text-5xl rounded-xl"
      (click)="createRoom()"
    />
    <mc-linkButton
      label="Join Room"
      [href]="joinRoomUrl"
      [icon]="joinRoomIcon"
      styleClass="bg-orange-500 text-orange-50 hover:bg-orange-600 active:bg-orange-700 cursor-pointer w-full
      sm:w-[18rem] md:w-[22rem] h-[10rem] sm:h-[12rem] text-4xl md:text-5xl rounded-xl"
    />
  </div>
  <div class="w-full h-[40vh] md:h-[50vh] min-h-[26rem]">
    <img
      src="/chess-banner.jpg"
      alt="Chess banner"
      class="w-full h-full object-cover object-center select-none pointer-events-none"
    >
  </div>
</div>

<mc-dialog
  [(isVisible)]="homeDialog().isVisible"
  [config]="homeDialogConfig"
  (onDialogClose)="onDialogClose()" >
  @if (homeDialog().formType === 'join') {
    <app-join-room (onRoomJoin)="onRoomJoin($event)" [isLoading]="isLoading()" />
  }
</mc-dialog>
