<div class="home-container h-full w-full flex flex-col gap-8">
  <div class="home-game-btns flex gap-8 items-center w-full pt-12 justify-center flex-col sm:flex-row">
    <mc-linkButton
      label="Play !"
      href="/play"
      [icon]="playIcon"
      styleClass="bg-purple-600 text-purple-50 hover:bg-purple-800 cursor-pointer w-full sm:w-[18rem] md:w-[22rem] h-[10rem] sm:h-[12rem]
      text-4xl md:text-5xl rounded-xl"
    />
    <mc-linkButton
      label="Join Room"
      href="/play/join"
      [icon]="joinRoomIcon"
      styleClass="bg-orange-500 text-orange-50 hover:bg-orange-600 cursor-pointer w-full sm:w-[18rem] md:w-[22rem] h-[10rem] sm:h-[12rem]
      text-4xl md:text-5xl rounded-xl"
    />
  </div>
  <div class="w-full">
    <img src="/chess-banner.jpg" alt="" srcset="">
  </div>
</div>
