<button
  [type]="buttonType()"
  [ngClass]="getButtonClass()"
  [disabled]="isDisabled() || isLoading()">
  @if (!isLoading()) {
    @if (icon()) {
      <span
        [ngClass]=" {
          'text-sm sm:text-base': buttonSize() === 'sm',
          'text-base sm:text-xl': buttonSize() === 'md',
          'text-xl sm:text-2xl': buttonSize() === 'lg',
          'text-4xl md:text-5xl': buttonSize() === 'accent',
        }">
        <fa-icon [icon]="icon()!" />
      </span>
    }
    <span
      [ngClass]="{
        'text-sm sm:text-base': buttonSize() === 'sm',
        'text-base sm:text-xl': buttonSize() === 'md',
        'text-xl sm:text-2xl': buttonSize() === 'lg',
        'text-4xl md:text-5xl': buttonSize() === 'accent',
      }">
      {{ label() }}
    </span>
  } @else {
    <fa-icon
      [icon]="spinnerIcon"
      animation="spin"
      [ngClass]="{
        'text-sm sm:text-base': buttonSize() === 'sm',
        'text-base sm:text-xl': buttonSize() === 'md',
        'text-xl sm:text-2xl': buttonSize() === 'lg',
        'text-4xl md:text-5xl': buttonSize() === 'accent',
      }" />
  }
</button>
