@let currentUser = me();
@let currentOpponent = opponent();
@let currentBlackPlayer = whoIsBlackPlayer();
@let fen = chessboardFen();
@let capturedPiecesNotation = capturedPieces();

@if (
  currentOpponent && currentOpponent.inGame &&
  currentUser &&  currentUser.inGame && currentBlackPlayer &&
  capturedPiecesNotation && fen
  ) {
  <div class="h-full">
    <app-chessboard
      [me]="currentUser"
      [opponent]="currentOpponent"
      [whoIsBlackPlayer]="currentBlackPlayer"
      [opponentsMove]="opponentsMove()"
      (move)="onPieceMoved($event)"
      [chessboardFen]="fen"
      [capturedPieces]="capturedPiecesNotation"
      [winner]="winner()" />
  </div>
} @else {
  <mc-loaderDialog [message]="dialogMessage()"/>
}
